<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Menu</title>
  <link th:fragment="css_file" th:href="@{/css/build.css}" rel="stylesheet">
</head>
<body class="bg-gray-200">
<form class="flex items-center justify-center h-screen" method="get" th:action="@{/AdminMenu}">
  <div class="flex flex-col items-center mt-8 font-roboto">
    <div class="mb-4">
      <a href="/">
        <img src="/images/logo%203.png" alt="Logo">
      </a>
    </div>
    <span class="text-center text-3xl font-bold mb-4">Welcome to the Admin Menu</span>
    <div class="flex space-x-5">
      <a th:href="@{/Admin/AdminDashboard}" type="button" class="flex-grow text-5xl text-white bg-blue-700 hover:bg-blue-900 font-bold py-10 px-20 md:py-20 md:px-40 border-black border-2 rounded-lg">Admin Page</a>

      <a th:href="@{/dashboard}" type="button" class="flex-grow text-5xl text-white bg-red-700 hover:bg-red-900 font-bold py-10 px-20 md:py-20 md:px-40 border-black border-2 rounded-lg">User Page</a>
    </div>
  </div>
</form>
</body>
</html>