<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
  <link th:fragment="css_file" th:href="@{/css/build.css}" rel="stylesheet">
</head>
<body>
<form class= "items-center flex justify-evenly" method="get" th:action="@{/AdminMenu}">
  <div class="flex items-center space-x-2">
      <a th:href="@{/Admin/AdminDashboard}" type="button"  class="bg-blue-900 hover:bg-blue-700 text-black font-bold py-2 px-4 rounded">Admin Page</a>
        <br>
      <a th:href="@{/dashboard/user} "type="button"  class="bg-red-900 hover:bg-red-700 text-black font-bold py-2 px-4 rounded">User Page</a>
  </div>
</form>
</body>
</html>