<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
  <link th:fragment="css_file" th:href="@{/css/build.css}" rel="stylesheet">
</head>
<body>
<form class= "items-center flex justify-evenly" method="get" th:action="@{/AdminMenu}">
    <div class="flex flex-col w-full items-center">
  <span class="text-center text-3xl font-bold">Welcome to admin page
  </span>
        <div class="skeleton w-100 h-800 space-x-10 items-center">
            <a th:href="@{/Admin/AdminDashboard}" type="button"  class=" text-white bg-blue-700 hover:bg-blue-900 font-bold items-center py-10 px-15 space-x-5 rounded">Admin Page</a>

            <a th:href="@{/dashboard}" type="button"  class="text-white bg-red-700 hover:bg-red-900 font-bold items-center py-10 px-15 space-x-5 rounded">User Page</a>

        </div>
        </div>
</form>

</body>
</html>