<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Requests</title>
    <link th:replace="~{base :: css_file}"/>
    <link th:replace="~{base :: favicon}">
</head>
<body class="flex w-full max-h-full">
<div th:replace="Adminsidebar :: sidebarFragment"></div>
<div class="flex flex-col w-full">
<span class="text-center text-3xl font-bold">360 Requests
  </span>
</div>
 <main
                class="flex flex-col items-center w-full max-h-screen px-6 py-8 space-y-8 overflow-y-auto sm:py-16 justify-items-center lg:p-16"
        >
            <div class="flex flex-col items-center justify-between w-full space-y-4 sm:space-y-0 sm:flex-row">
                <span class="text-3xl font-bold text-left ">My reviews</span>
                <div class="flex flex-wrap items-center justify-center gap-3 sm:justify-between">

                </div>
            </div>
 </main>


</body>
</html>
