<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Requests</title>
    <link th:replace="~{base :: css_file}"/>
    <link th:replace="~{base :: favicon}">
</head>
<body class="flex w-full max-h-full">
<div th:replace="Adminsidebar :: sidebarFragment"></div>
 <main class="flex flex-col items-center w-full max-h-screen px-6 py-8 space-y-8 overflow-y-auto sm:py-16 justify-items-center lg:p-16">

            <div class="flex flex-col items-center justify-between w-full space-y-4 sm:space-y-0 sm:flex-row">
                <span class="text-3xl font-bold text-left ">All 360 requests</span>
                <div class="flex flex-wrap items-center justify-center gap-3 sm:justify-between">

                </div>
            </div>
     <table>
         <tbody>
         <tr th:each="allRequestItems, iStat : ${allRequestItems}">
             <td>
                 <div class="flex flex-col justify-between w-full p-4 min-[500px]:p-6 space-y-4 border rounded-lg shadow sm:p-4 sm:items-center md:space-y-0 md:flex-row border-black-100">
                     <div class="flex flex-col space-y-4">
                         <span class="font-bold text-2xl">Request :
                            <span th:text="${allRequestItems.id}" class="font-light text-base"></span>
                         </span>
                         <span class="font-bold text-2xl">User :
                             <span th:text="${allRequestItems.username}" class="font-light text-base"></span>
                         </span>
                         <div class="flex space-x-3">
                             <span class="font-semibold text-base">Date requested:
                        <span th:text="${#dates.format(allRequestItems.requested, 'yyyy-MM-dd')}"
                              class="font-light text-base">
                        </span>
                             </span>
                         </div>
                     </div>
                 </div>
             </td>
         </tr>
         </tbody>
     </table>
 </main>


</body>
</html>
