<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee 360</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex w-full h-full bg-gray-200">
<div class="flex flex-col justify-items-center max-h-full w-full pl-10 pr-6 space-y-4">
    <div class="flex justify-evenly w-full space-y-10">

<body class="font-roboto">
<div class="flex justify-between items-center p-8">
    <img src="/images/legal%20logo.png" alt="logo" class="h-24">
    <div class="text-6xl">
        <span>Welcome to <span th:text="${firstName}"></span> <span th:text="${lastName}"></span>'s 360!</span>
    </div>
</div>

    <form th:action="@{/form/{id} (id=${submissionItem.id})}" th:method="post" onsubmit="prepareFormData()">
        <input th:name="${_csrf.parameterName}" th:type="hidden" th:value="${_csrf.token}" />
        <th:block th:each="question : ${questionItems}">
            <span th:text="${question.category}" class="font-semibold text-2xl ml-5"></span>
                    <span class="text-base text-3xl font-light">While working with this individual, to what extent do you experience them...</span>
                    <div class="flex flex-col space-y-3 ml-10">
                        <span th:text="${question.question}" class="text-xl font-light font-sans"></span>
                        <div class="flex flex-col">
                            <label>
                                <input type="radio" th:name="${'question_' + question.id + '_answer'}" th:value="1" required>
                                Never (1)
                            </label>
                            <label>
                                <input type="radio" th:name="${'question_' + question.id + '_answer'}" th:value="2" required>
                                Rarely (2)
                            </label>
                            <label>
                                <input type="radio" th:name="${'question_' + question.id + '_answer'}" th:value="3" required>
                                Sometimes (3)
                            </label>
                            <label>
                                <input type="radio" th:name="${'question_' + question.id + '_answer'}" th:value="4" required>
                              Often (4)
                           </label>
                            <label>
                               <input type="radio" th:name="${'question_' + question.id + '_answer'}" th:value="5" required>
                               Always (5)
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Text Area Questions -->
            <div th:each="textAreaQuestions : ${getTextAreaQuestions}">
                <input type="hidden" th:value="${textAreaQuestions.id}" />
                <label th:text="${textAreaQuestions.question}" class="block mt-4"></label>
                <textarea th:id="${'question_' + textAreaQuestions.id}" th:name="${'question_' + textAreaQuestions.id}" rows="4" cols="50" class="border p-2 w-full" required></textarea>
            </div>

            <!-- Hidden input to store the JSON data -->
            <input type="hidden" id="questionAnswers" name="questionAnswers" />

            <!-- Submit Button -->
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-8">Submit ></button>
        </form>
    </div>
</div>

<script th:inline="javascript">
    function prepareFormData() {
        let questionAnswers = [];

        // Add radio button answers
        [[${questionItems}]].forEach(function (question) {
            let answer = document.querySelector('input[name="question_' + question.id + '_answer"]:checked');
            if (answer) {
                questionAnswers.push({
                    question_id: question.id,
                    answer: answer.value
                });
            }
        });

        // Add textarea answers
        [[${getTextAreaQuestions}]].forEach(function (question) {
            let answer = document.getElementById('question_' + question.id).value;
            questionAnswers.push({
                question_id: question.id,
                answer: answer
            });
        });

        // Set the value of the hidden input to the JSON representation of the questionAnswers array
        document.getElementById('questionAnswers').value = JSON.stringify(questionAnswers);
        console.log(questionAnswers);
    }
</script>
</body>
</html>