<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link th:fragment="css_file"
          th:href="@{/css/build.css}" rel="stylesheet"
    >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="font-family: 'Roboto',sans-serif">
<div class="text-center text-6xl">Welcome to your 360 Self evaluation!</div>
<div class="bg-gray-100 border-8 border-black m-8">
    <div class="mx-auto max-w-7xl p-8">
        <form>
            <h2 class="text-4xl">Collaboration Questions</h2>

            <h3 class="text-2xl">Q1: While working, to what extent do you experience yourself... </h3>
            <div class="grid grid-cols-6">
                <div></div>
                <label for="r11" class="text-center text-lg italic">Never</label>
                <label for="r12" class="text-center text-lg italic">Rarely</label>
                <label for="r13" class="text-center text-lg italic">Sometimes</label>
                <label for="r14" class="text-center text-lg italic">Often</label>
                <label for="r15" class="text-center text-lg italic">Always</label>
            </div>
            <div class="grid grid-cols-6 border-b-2 border-t-2 border-gray-500 p-4">
                <label class="text-xl">Building meaningful relationships across teams and projects. </label>
                <input type="radio" class="h-16 my-2.5" name="1" id="r11">
                <input type="radio" class="h-16 my-2.5" name="1" id="r12">
                <input type="radio" class="h-16 my-2.5" name="1" id="r13">
                <input type="radio" class="h-16 my-2.5" name="1" id="r14">
                <input type="radio" class="h-16 my-2.5" name="1" id="r15">
            </div>



            <div class="grid grid-cols-6 border-b-2 border-gray-500 p-4">
                <label class="text-xl">Sharing your experiences openly so that people can learn.  </label>
                <input type="radio" class="h-16 my-2.5" name="2" id="r21">
                <input type="radio" class="h-16 my-2.5" name="2" id="r22">
                <input type="radio" class="h-16 my-2.5" name="2" id="r23">
                <input type="radio" class="h-16 my-2.5" name="2" id="r24">
                <input type="radio" class="h-16 my-2.5" name="2" id="r25">
            </div>



            <div class="grid grid-cols-6 border-b-2 border-gray-500 p-4">
                <label class="text-xl">Actively seeking out opportunities to support others in their work.</label>
                <input type="radio" class="h-16 my-2.5" name="3" id="r31">
                <input type="radio" class="h-16 my-2.5" name="3" id="r32">
                <input type="radio" class="h-16 my-2.5" name="3" id="r33">
                <input type="radio" class="h-16 my-2.5" name="3" id="r34">
                <input type="radio" class="h-16 my-2.5" name="3" id="r35">
            </div>

                <div class="divide-x-8 divide-black"></div>

            <div class="grid grid-cols-6 border-b-2 border-gray-500 p-4">
                <label class="text-xl">As being open and approachable</label>
                <input type="radio" class="h-16 my-2.5" name="4" id="r41">
                <input type="radio" class="h-16 my-2.5" name="4" id="r42">
                <input type="radio" class="h-16 my-2.5" name="4" id="r43">
                <input type="radio" class="h-16 my-2.5" name="4" id="r44">
                <input type="radio" class="h-16 my-2.5" name="4" id="r45">
            </div>

            <!--QUESTION 2-->

            <h3 class="text-2xl pt-8 mt-8">Q2: While working, to what extent do you experience yourself... </h3>
            <div class="grid grid-cols-6">
                <div></div>
                <label for="r11" class="text-center text-lg italic">Never</label>
                <label for="r12" class="text-center text-lg italic">Rarely</label>
                <label for="r13" class="text-center text-lg italic">Sometimes</label>
                <label for="r14" class="text-center text-lg italic">Often</label>
                <label for="r15" class="text-center text-lg italic">Always</label>
            </div>
            <div class="grid grid-cols-6 border-b-2 border-t-2 border-gray-500 p-4">
                <label class="text-xl">Experimenting to learn what works and pivoting when it doesn't.</label>
                <input type="radio" class="h-16 my-2.5" name="5" id="r51">
                <input type="radio" class="h-16 my-2.5" name="5" id="r52">
                <input type="radio" class="h-16 my-2.5" name="5" id="r53">
                <input type="radio" class="h-16 my-2.5" name="5" id="r54">
                <input type="radio" class="h-16 my-2.5" name="5" id="r55">
            </div>



            <div class="grid grid-cols-6 border-b-2 border-gray-500 p-4">
                <label class="text-xl">Accepting and building on others' ideas and opinions to achieve the best possible outcome.</label>
                <input type="radio" class="h-16 my-2.5" name="6" id="r61">
                <input type="radio" class="h-16 my-2.5" name="6" id="r62">
                <input type="radio" class="h-16 my-2.5" name="6" id="r63">
                <input type="radio" class="h-16 my-2.5" name="6" id="r64">
                <input type="radio" class="h-16 my-2.5" name="6" id="r65">
            </div>

            <div class="divide-x-8 divide-black"></div>

            <div class="grid grid-cols-6 border-b-2 border-gray-500 p-4">
                <label class="text-xl">Working for the good of the collective rather than your own priorities</label>
                <input type="radio" class="h-16 my-2.5" name="7" id="r71">
                <input type="radio" class="h-16 my-2.5" name="7" id="r72">
                <input type="radio" class="h-16 my-2.5" name="7" id="r73">
                <input type="radio" class="h-16 my-2.5" name="7" id="r74">
                <input type="radio" class="h-16 my-2.5" name="7" id="r75">
            </div>

            <div class="divide-x-8 divide-black"></div>

            <div class="grid grid-cols-6 border-b-2 border-gray-500 p-4">
                <label class="text-xl">Promoting and discussing how our purpose connects to the greater customer outcomes.</label>
                <input type="radio" class="h-16 my-2.5" name="8" id="r81">
                <input type="radio" class="h-16 my-2.5" name="8" id="r82">
                <input type="radio" class="h-16 my-2.5" name="8" id="r83">
                <input type="radio" class="h-16 my-2.5" name="8" id="r84">
                <input type="radio" class="h-16 my-2.5" name="8" id="r85">
            </div>

            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-8">
                Next Category > </button>

        </form>
    </div>
</div>
</body>
</html>
