<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  meta charset="UTF-8">
  <title>sidebar</title>
  <link th:replace="~{base :: css_file}"/>
  <link th:replace="~{base :: favicon}">
</head>
<body class="flex w-full max-h-full">
<aside class="absolute lg:relative z-50 transition-transform ease-in -left-[16rem]
lg:left-0 h-screen bg-gray-200 flex flex-col justify-between w-1/6 py-16 rounded-r-2xl
rounded" id="side-bar" th:fragment="sidebarFragment">
  <div class="flex flex-col space-y-16">
    <div class="flex items-center justify-between w-full max-w-[12rem] mx-auto">
      <a th:href="@{/Admin/AdminDashboard}" class="flex justify-evenly hover:opacity-75 focus-ring">
               <span><img alt="logo" src="/images/legal%20logo.png" class="w-auto h-20 rounded-md"/>
            </span>
      </a>
    </div>

    <div class="flex flex-col w-48 mx-auto space-y-3 transition-colors">
      <a th:href="@{/Admin/AdminDashboard}" class="flex items-center w-full px-4 py-2 space-x-3 hover:bg-white rounded">
        <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_8_520)">
            <path
                    d="M6 8.99502V7.49502M4.51 1.42002L1.815 3.52002C1.365 3.87002 1 4.61502 1 5.18002V8.88502C1 10.045 1.945 10.995 3.105 10.995H8.895C10.055 10.995 11 10.045 11 8.89002V5.25002C11 4.64502 10.595 3.87002 10.1 3.52502L7.01 1.36002C6.31 0.87002 5.185 0.89502 4.51 1.42002Z"
                    stroke="black"
                    stroke-linecap="round"
                    stroke-linejoin="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_8_520">
              <rect width="12" height="12" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <span class="font-light">Home</span>
      </a>
      <a th:href="@{/Admin/AdminMenu}" class="flex items-center w-full px-4 py-2 space-x-3 hover:bg-white rounded">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none">
          <path d="M22 11v6c0 4-1 5-5 5H7c-4 0-5-1-5-5V7c0-4 1-5 5-5h1.5c1.5 0 1.83.44 2.4 1.2l1.5 2c.38.5.6.8 1.6.8h3c4
           0 5 1 5 5Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10">
          </path>
        </svg>
        <span class="font-light">View Requests</span>
      </a>
      <a th:href="@{/static}" class="flex items-center w-full px-4 py-2 space-x-3 hover:bg-white rounded">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 24 24"
                fill="none"
        >
          <path
                  stroke="#000000"
                  stroke-linecap="round"
                  stroke-width="1.5"
                  d="M21.47 19V5c0-2-1-3-3-3h-4c-2 0-3 1-3 3v14c0 2 1 3 3 3h4c2 0 3-1 3-3zM11.47 6h5M11.47 18h4M11.47 13.95l5 .05M11.47 10h3M5.49 2C3.86 2 2.53 3.33 2.53 4.95v12.96c0 .45.19 1.13.42 1.52l.82 1.36c.94 1.57 2.49 1.57 3.43 0l.82-1.36c.23-.39.42-1.07.42-1.52V4.95C8.44 3.33 7.11 2 5.49 2zM8.44 7H2.53"
          ></path>
        </svg>
        <span class="font-light">Pending requests</span>
      </a>
<!--      <a th:href="@{/Admin/AdminMenu}" class="flex items-center w-full px-4 py-2 space-x-3 hover:bg-white rounded">-->
<!--        <svg-->
<!--                xmlns="http://www.w3.org/2000/svg"-->
<!--                width="12"-->
<!--                height="12"-->
<!--                viewBox="0 0 24 24"-->
<!--                fill="none"-->
<!--        >-->
<!--          <path-->
<!--                  stroke="#000000"-->
<!--                  stroke-linecap="round"-->
<!--                  stroke-width="1.5"-->
<!--                  d="M21.47 19V5c0-2-1-3-3-3h-4c-2 0-3 1-3 3v14c0 2 1 3 3 3h4c2 0 3-1 3-3zM11.47 6h5M11.47 18h4M11.47 13.95l5 .05M11.47 10h3M5.49 2C3.86 2 2.53 3.33 2.53 4.95v12.96c0 .45.19 1.13.42 1.52l.82 1.36c.94 1.57 2.49 1.57 3.43 0l.82-1.36c.23-.39.42-1.07.42-1.52V4.95C8.44 3.33 7.11 2 5.49 2zM8.44 7H2.53"-->
<!--          ></path>-->
<!--        </svg>-->
<!--        <span class="font-light">Completed 360s</span>-->
<!--      </a>-->
      <a th:href="@{/static}" class="flex items-center w-full px-4 py-2 space-x-3 hover:bg-white rounded">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none">
          <path d="m13.26 3.6-8.21 8.69c-.31.33-.61.98-.67 1.43l-.37 3.24c-.13 1.17.71 1.97 1.87 1.77l3.22-.55c.45-.08
          1.08-.41 1.39-.75l8.21-8.69c1.42-1.5 2.06-3.21-.15-5.3-2.2-2.07-3.87-1.34-5.29.16Z" stroke="black"
                stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">
          </path><path d="M11.89 5.05a6.126 6.126 0 0 0 5.45 5.15M3 22h18" stroke="black" stroke-width="1.5"
                       stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        <span class="font-light">Edit Questions</span>
      </a>
<!--      <a th:href="@{/static}" class="flex items-center w-full px-4 py-2 space-x-3 hover:bg-white rounded">-->
<!--        <svg-->
<!--                width="12"-->
<!--                height="12"-->
<!--                viewBox="0 0 12 12"-->
<!--                fill="none"-->
<!--                xmlns="http://www.w3.org/2000/svg"-->
<!--        >-->
<!--          <g clip-path="url(#clip0_8_539)">-->
<!--            <path-->
<!--                    d="M4.45 3.77999C4.605 1.98 5.53 1.245 7.555 1.245H7.62C9.855 1.245 10.75 2.14 10.75 4.375V7.635C10.75 9.87 9.855 10.765 7.62 10.765H7.555C5.545 10.765 4.62 10.04 4.455 8.27M7.5 6H1.81M2.925 4.325L1.25 6L2.925 7.675"-->
<!--                    stroke="#2C2C2C"-->
<!--                    stroke-linecap="round"-->
<!--                    stroke-linejoin="round"-->
<!--            />-->
<!--          </g>-->
<!--          <defs>-->
<!--            <clipPath id="clip0_8_539">-->
<!--              <rect width="12" height="12" fill="white" />-->
<!--            </clipPath>-->
<!--          </defs>-->
<!--        </svg>-->
<!--        <span class="font-light">Logout</span>-->
<!--      </a>-->
      <a th:href="@{/Admin/AdminSettings}"class="flex items-center w-full px-4 py-2 space-x-3 hover:bg-white rounded">
        <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_8_534)">
            <path
                    d="M6 7.5C6.39782 7.5 6.77936 7.34196 7.06066 7.06066C7.34196 6.77936 7.5 6.39782 7.5 6C7.5 5.60218 7.34196 5.22064 7.06066 4.93934C6.77936 4.65804 6.39782 4.5 6 4.5C5.60218 4.5 5.22064 4.65804 4.93934 4.93934C4.65804 5.22064 4.5 5.60218 4.5 6C4.5 6.39782 4.65804 6.77936 4.93934 7.06066C5.22064 7.34196 5.60218 7.5 6 7.5V7.5Z"
                    stroke="black"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
            />
            <path
                    d="M1 6.44003V5.56003C1 5.04003 1.425 4.61003 1.95 4.61003C2.855 4.61003 3.225 3.97003 2.77 3.18503C2.51 2.73503 2.665 2.15003 3.12 1.89003L3.985 1.39503C4.38 1.16003 4.89 1.30003 5.125 1.69503L5.18 1.79003C5.63 2.57503 6.37 2.57503 6.825 1.79003L6.88 1.69503C7.115 1.30003 7.625 1.16003 8.02 1.39503L8.885 1.89003C9.34 2.15003 9.495 2.73503 9.235 3.18503C8.78 3.97003 9.15 4.61003 10.055 4.61003C10.575 4.61003 11.005 5.03503 11.005 5.56003V6.44003C11.005 6.96003 10.58 7.39003 10.055 7.39003C9.15 7.39003 8.78 8.03003 9.235 8.81503C9.495 9.27003 9.34 9.85003 8.885 10.11L8.02 10.605C7.625 10.84 7.115 10.7 6.88 10.305L6.825 10.21C6.375 9.42503 5.635 9.42503 5.18 10.21L5.125 10.305C4.89 10.7 4.38 10.84 3.985 10.605L3.12 10.11C2.90205 9.98454 2.74279 9.7777 2.67717 9.53491C2.61155 9.29213 2.64494 9.03323 2.77 8.81503C3.225 8.03003 2.855 7.39003 1.95 7.39003C1.425 7.39003 1 6.96003 1 6.44003V6.44003Z"
                    stroke="black"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_8_534">
              <rect width="12" height="12" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <span class="font-light">settings</span>
      </a>
      <form th:action="@{/logout}" th:method="post">
        <input type="submit" value="logout"/>
        <input th:name="${_csrf.parameterName}"
               th:type="hidden"
               th:value="${_csrf.token}"/>
      </form>
    </div>
  </div>
</aside>
</body>
</html>