<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link th:fragment="css_file"
          th:href="@{/css/build.css}" rel="stylesheet"
          >
    <link th:fragment="favicon"
          th:href="@{/images/favicon .ico}"
          rel="shortcut icon"
          type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 items-center">
<div class="flex flex-col justify-center items-center text-center">
    <img alt="logo" src="/images/legal%20logo.png"/>
    <h1 class="text-4xl font-bold mb-4">403</h1>
    <p class="text-lg text-gray-700 mb-4">We're sorry, access to this page is restricted!</p>
    <p class="text-base text-gray-600 mb-8">If you think this was a mistake, please let an Admin know.</p>
    <button onclick="window.location.href='/'" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Go Home</button>
</div>
</body>
</html>