<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>settings</title>
  <link th:replace="~{base :: css_file}"/>
  <link th:replace="~{base :: favicon}">
</head>
<body class="flex w-full max-h-full">
<div th:replace="sidebar :: sidebarFragment"></div>
<div class="flex flex-col items-center w-full p-10 pt-20 space-y-10">
  <div class="flex flex-col items-center justify-between w-full space-y-4">
    <h1 class="text-4xl font-bold text-center">Account Settings</h1>
  </div>
  <div class="flex flex-col items-center w-full max-w-2xl space-y-8">
    <form th:action="@{/settings}" th:method="post" th:object="${UserItem}" class="flex flex-col space-y-5 w-full">
        <input th:name="${_csrf.parameterName}"
               th:type="hidden"
               th:value="${_csrf.token}"/>
      <div class="grid w-full grid-cols-1 gap-4 sm:grid-cols-2 auto-rows-auto">
        <div class="flex flex-col items-center space-y-3">
<!--          <img th:if="${user.profilePicture != null}" th:src="@{'/path/to/profile/pictures/'-->
<!--           + ${user.profilePicture}}" alt="User Profile Picture" -->
<!--               class="rounded-full w-20 h-20 object-cover border-2 border-gray-300">-->
          <img src="/images/profile%20.jpg" alt="Empty Profile Picture"
               class="rounded-full w-30 h-30 object-cover border-2 border-gray-300">
          <span class="text-xl font-semibold capitalize"></span>
        </div>

        <div class="flex items-center space-x-4">
          <label th:for="*{username}">Username:</label>
          <input type="text"  placeholder="username@email.com"  readonly
                 th:field="*{username}" class="focus:border-green-400 p-2 border rounded-full w-full"/>
        </div>
        <div class="flex items-center space-x-4">
          <label th:for="*{firstname}">First name:</label>
          <input type="text" id="name" name="name" placeholder="name" th:field="*{firstname}"
                 class="focus:border-green-400 p-2 border rounded-full w-full"/>
        </div>
        <div class="flex items-center space-x-2">
          <label th:for="*{secondname}">Second name:</label>
            <input type="text" id="secondname" name="secondname" placeholder="secondname" th:field="*{secondname}"
                   class="focus:border-green-400 p-2 border rounded-full w-full"/>
        </div>
      </div>
      <button type="submit" class="bg-blue-500 flex items-center justify-center w-fit h-12 font-light rounded  text-white p-2
                          hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue rounded-full px-10 mx-auto w-max">Update</button>
    </form>
  </div>
</div>
</body>
</html>