<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>View 360's</title>
    <link th:replace="~{base :: css_file}"/>
    <link th:replace="~{base :: favicon}">
<body class="flex w-full max-h-full">
<div th:replace="sidebar :: sidebarFragment"></div>
<main class="flex flex-col items-center w-full max-h-screen px-6 py-8 space-y-8 overflow-y-auto sm:py-16 justify-items-center lg:p-16">
    <div class="flex flex-col items-center justify-between w-full space-y-4 sm:space-y-0 sm:flex-row">
        <div class="flex flex-wrap items-center justify-center gap-3 sm:justify-between">

        </div>
    </div>

</main>
</body>
</html>